:root {
	--aliceblue: #f2f7fd;
	--antiquewhite: #fbebd6;
	--aqua: #72cdde;
	--aquamarine: #9bd5c2;
	--azure: #f2fafb;
	--beige: #f7f4db;
	--bisque: #ffe4c4;
	--black: #080809;
	--blanchedalmond: #ffebcd;
	--blue: #5e6eb3;
	--blueviolet: #8368ae;
	--brown: #9c4845;
	--burlywood: #e0b886;
	--cadetblue: #619d9f;
	--chartreuse: #8fc84f;
	--chocolate: #d26b44;
	--coral: #f77e51;
	--cornflowerblue: #6d90cc;
	--cornsilk: #fff7dc;
	--crimson: #d84f4c;
	--cyan: #72cdde;
	--darkblue: #3e4580;
	--darkcyan: #0c8b8b;
	--darkgoldenrod: #b88746;
	--darkgray: #aaa8a7;
	--darkgreen: #3d6341;
	--darkkhaki: #bfb768;
	--darkmagenta: #85538d;
	--darkolivegreen: #596c42;
	--darkorange: #f98d3d;
	--darkorchid: #8d62a9;
	--darkred: #7b3b3f;
	--darksalmon: #ea9478;
	--darkseagreen: #90bb8d;
	--darkslateblue: #54538c;
	--darkslategray: #334f4e;
	--darkturquoise: #3fc1c8;
	--darkviolet: #8961a8;
	--deeppink: #f15699;
	--deepskyblue: #3bb9ed;
	--dimgray: #6c6968;
	--dodgerblue: #558cca;
	--firebrick: #a74b46;
	--floralwhite: #fff9f0;
	--forestgreen: #418c55;
	--fuchsia: #ba69aa;
	--gainsboro: #dedbdb;
	--ghostwhite: #f9f7fc;
	--gold: #fed633;
	--goldenrod: #d9a543;
	--gray: #82807f;
	--green: #438051;
	--greenyellow: #b0d347;
	--honeydew: #f2f8ed;
	--hotpink: #f66ba9;
	--indianred: #ce5b5b;
	--indigo: #57467d;
	--ivory: #fffef0;
	--khaki: #f1e588;
	--lavender: #e8e5f4;
	--lavenderblush: #ffeff3;
	--lawngreen: #8bc750;
	--lemonchiffon: #ffface;
	--lightblue: #afd7e5;
	--lightcoral: #f17e7e;
	--lightcyan: #e5f4f8;
	--lightgoldenrodyellow: #faf8d2;
	--lightgray: #d5d2d2;
	--lightgreen: #9ad08b;
	--lightpink: #fcb5c0;
	--lightsalmon: #fc9f7a;
	--lightseagreen: #26b1a9;
	--lightskyblue: #8dccf2;
	--lightslategray: #798798;
	--lightsteelblue: #b2c4dd;
	--lightyellow: #fefbe1;
	--lime: #60bc57;
	--limegreen: #4bb859;
	--linen: #fcf0e5;
	--magenta: #ba69aa;
	--maroon: #71393c;
	--mediumaquamarine: #6dc6a7;
	--mediumblue: #5561a9;
	--mediumorchid: #a26cae;
	--mediumpurple: #8a79b8;
	--mediumseagreen: #40b26e;
	--mediumslateblue: #7b79b9;
	--mediumspringgreen: #67c289;
	--mediumturquoise: #5ac5c4;
	--mediumvioletred: #bd578e;
	--midnightblue: #3b3e6b;
	--mintcream: #f7fbf8;
	--mistyrose: #ffe3e0;
	--moccasin: #ffe4b5;
	--navajowhite: #ffddab;
	--navy: #3a4077;
	--oldlace: #fff5e6;
	--olive: #828249;
	--olivedrab: #6f8f51;
	--orange: #fda63a;
	--orangered: #f24f41;
	--orchid: #bd77b3;
	--palegoldenrod: #efe7a6;
	--palegreen: #a5d38f;
	--paleturquoise: #b5e2e6;
	--palevioletred: #dc6e92;
	--papayawhip: #ffefd5;
	--peachpuff: #ffd9b8;
	--peru: #ce8645;
	--pink: #fcbfc9;
	--plum: #d4a0cb;
	--powderblue: #b2e0e4;
	--purple: #7c4e82;
	--rebeccapurple: #6d5596;
	--red: #f24942;
	--rosybrown: #bc8e8d;
	--royalblue: #5e76b9;
	--saddlebrown: #854e38;
	--salmon: #f87f71;
	--sandybrown: #f6a45d;
	--seagreen: #348b57;
	--seashell: #fff4ed;
	--sienna: #9f563f;
	--silver: #c2c0bf;
	--skyblue: #8acdeb;
	--slateblue: #726db2;
	--slategray: #727f8f;
	--snow: #fff9f9;
	--springgreen: #66bf6e;
	--steelblue: #4982b3;
	--tan: #d4b48b;
	--teal: #1b8080;
	--thistle: #dabfd7;
	--tomato: #f46449;
	--turquoise: #62c6c3;
	--violet: #c686bc;
	--wheat: #f6ddb1;
	--white: #ffffff;
	--whitesmoke: #f8f5f4;
	--yellow: #f8ec2e;
	--yellowgreen: #9ccc4c;
}

body {
	font-family: var(--ff-main);
	line-height: 1.5;
	margin: 0;
	background: var(--whitesmoke);

	--aside-bg: var(--papayawhip);
	--ff-main: sans-serif;
	--ff-code: 'Consolas', monospace;
}

.container {
	max-width: 50rem;
	margin: 0 auto;
	padding: 1rem;
}

nav .active {
	font-weight: bold;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 1.5em 0 3em;
}

table tr {
	border-bottom: 1px solid #000;
}

table th,
table td {
	text-align: left;
	padding: 0.25em 0;
}

article {
	margin: 2em 0;
	max-width: 44em;
}

article img {
	max-width: 100%;
}

header {
	background: var(--aside-bg);
}

footer {
	padding: 2em 0;
	background: var(--aside-bg);
}

table code {
	background: transparent;
	color: inherit;
	padding: 0;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

nav ul > * {
	margin-right: 1em;
	margin-bottom: 1em;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
}

h5,
h6 {
	font-size: 1em;
}

blockquote {
	background: var(--papayawhip);
	margin: 1em 0;
	padding: 1em;
	border-left: 0.25em solid rgba(0, 0, 0, 0.1);
}

a {
	color: var(--navy);
}

a:visited {
	color: currentColor;
}

pre,
code,
kbd,
var,
samp {
	font-family: var(--ff-code);
}

/* syntax highlighting */

code[class*='language-'],
pre[class*='language-'] {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	background: transparent;
	-moz-tab-size: 2;
	tab-size: 2;
	hyphens: none;
}

pre[class*='language-'] {
	overflow: auto;
	position: relative;
	margin: 1em 0;
	padding: 1em 2em;
	font-size: 1em;
}

:not(pre) > code[class*='language-'] {
	white-space: normal;
	border-radius: 0.2em;
	padding: 0.1em;
}

.token.comment {
	color: var(--indigo);
}

.token.constant {
	color: #7c4dff;
}

.token.deleted {
	color: #e53935;
}

.token.function {
	font-weight: bold;
}

.token.inserted {
	color: #39adb5;
}

.token.keyword {
	color: #7c4dff;
}

.token.operator {
	color: #39adb5;
}

.token.punctuation {
	color: #39adb5;
}

.token.string,
.token.number,
.token.regex,
.token.boolean {
	color: var(--indianred);
}
