body {
	font-family: 'IBM Plex Sans', sans-serif;
	line-height: 1.5;
	color: #333;
}

pre, code {
	font-family: 'IBM Plex Mono', monospace;
}

a {
	color: royalblue;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

.container {
	max-width: 50em;
	margin: 0 auto;
}

.highlight {
	border: 0.2em solid #333;
	border-radius: 0.5em;
	padding: 1em;
	margin: 1.5em 3em;
	overflow: auto;
	box-shadow: 0.2em 0.2em 0 #333;
	font-size: 0.9em;
}

.chroma, .chroma * {
	background-color: transparent !important;
}